<div calss="container">
  <div class="row">
    <div class="col-lg-4">
  <h1>User info</h1>
  <p><%= image_tag @user.get_profile_image(100, 100) %></p>
  <p>name: <%= @user.name %></p>
  <p>introduction: <%= @user.introduction %></p>



  <div class="row">
    <%= link_to edit_user_path(current_user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
    </div>
  <h1>New book</h1>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit "Create book" %>
<% end %>
</div>


  <div class="col-lg-8">
  <table class="table table-striped">
   <p id="notice"></p>
    <div class='col-md-8 offset-md-1'>
      <h2>Users</h2>
      <table class='table table-hover table-inverse'>
     <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="1"></th>
    </tr>
    </thead>
   </div>
     <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100, 100) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </div>
</div>
</div>
