<h1>User info</h1>
<%= form_with model: @book do |f| %>
  <h4>Name</h4>
  <%= f.text_field :title %>

  <h4>Image</h4>
  <%= f.      :user_id %>

  <h4>Introduction</h4>
  <%= f.text_area :body %>

  <%= f.submit "Update user" %>
<% end %>
