<!--<body class="d-flex flex-column vh-100">-->
<!--    <header class="shadow-sm">-->
<!--      <nav class="navbar navbar-expand-lg navbar-light">-->
<!--        <div class="container">-->
<!--          <a class="navbar-brand p-3" href="/"></a>-->
<!--          <div class="social"></div>-->
<!--          <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--            <ul class="navbar-nav ml-auto">-->

<!--        <% if user_signed_in? %>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Home", root_path %>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Users", user_session_path %>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Books", books_path  %>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Log out", destroy_user_session_path  %>-->
<!--        </li>-->
<!--      <% else %>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Home", root_path %>-->
<!--        </li>-->
<!--        <li class"nav-item">-->
<!--          <%= link_to "About", homes_about_path %>-->
<!--        </li>-->
<!--        <li class"nav-item">-->
<!--          <%= link_to "Sign Up", new_user_registration_path  %>-->
<!--        </li>-->
<!--        <li class"nav-item">-->
<!--          <%= link_to "Log in", user_session_path   %>-->
<!--        </li>-->
<!--      <% end %>-->
<!--        </ul>-->
<!--       </div>-->
<!--      </div>-->
<!--      </nav>-->
<!--    </header>-->
<!--    <%= yield %>-->
<!--  </body>-->


<h1>welcome to Bookers!!</h1>
<h4>
  <p>In Bookers</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
</h4>

<!--<%= form_with model: @user do |f| %>-->
<!--    <%= f.submit "Log in" %>-->
<!--    <%= f.submit "Sign in" %>-->
<!--  <% end %>-->

  <li>
     <%= link_to "Log in", new_user_session_path %>
  </li>
  <li>
     <%= link_to "Sign in", new_user_registration_path  %>
  </li>
