<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"></a>
          <div class="social"></div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", user_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Books", books_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class"nav-item">
          <%= link_to "About", homes_about_path %>
        </li>
        <li class"nav-item">
          <%= link_to "Sign Up", new_user_registration_path  %>
        </li>
        <li class"nav-item">
          <%= link_to "Log in", user_session_path   %>
        </li>
      <% end %>
        </ul>
       </div>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
